<div class="start-teaser clearfix">
  <h1>aktuelle NEWS</h1>

  <div class="news-latest-container">
    <div class="news-latest-item">
      <span class="news-latest-date">16.03.2011 16:47</span>
      <a href="#"><p>Second test sub</p></a>
      <hr class="clearer" />
    </div>

    <div class="news-latest-item">
      <span class="news-latest-date">16.03.2011 12:38</span>
      <a href="#"><p>Dies ist ein Test Dies ist ein Test Dies ist ein Test Dies ist ein Test Dies...</p></a>
      <hr class="clearer" />
    </div>
  </div>
</div>
