  <li class="newsbox">
    <h1>aktuelle NEWS</h1>

    <ul>
      <li><a href="#">
        <span>16.03.2011 16:47</span>
        <p>Second test sub</p>
      </a></li>

      <li><a href="#">
        <span>16.03.2011 12:38</span>
        <p>Dies ist ein Test Dies ist ein Test Dies ist ein Test Dies ist ein Test Dies...</p>
      </a></li>
    </ul>
  </li>
