      <div id="wrapper-footer-bg">
      
      <!-- wrapper-footer begin -->
      <div id="wrapper-footer">
          
          <!-- wrapper-navi-footer begin -->
          <div id="wrapper-navi-footer">
            
            <!-- navi-footer begin -->
            <ul id="navi-footer">
              <li>
                <a href="http://blog.protonet.info" title="Blog" onfocus="blurLink(this);">Blog</a>
              </li>
              <li>
                <a href="<%= contact_path %>" title="Kontakt" onfocus="blurLink(this);">Kontakt</a>
              </li>
              <li>
                <a href="<%= imprint_path %>" title="Impressum" onfocus="blurLink(this);">Impressum</a>
              </li>
            </ul>
            <!-- navi-footer end -->
            
          </div>
          <!-- wrapper-navi-footer end -->
          
          <p>&copy; copyright Protonet 2011</p>

      </div>
      <!-- wrapper-footer end -->
      
      </div>
      
    </div>
    <!-- wrapper-main end -->
  
  </div>
  <!-- wrapper-shadow-top end -->

</div>
<!-- wrapper-shadow end -->
