/***************************
*  Default styles for the
*        EXT rgtabs
* by Ringer Georg (just2b)
***************************/  

/* wraps the hole tab */
.rgtabs-wrapper {
  padding:1em 1.5em;
  border: 1px solid #ccc;
  background:#fff url(topbg.gif) repeat-x;
  overflow:hidden;
  clear:both;
}

/* add a loading icon */
.rgtabs-wrapper .rgtabs-ajax-loading {
  padding: 100px 0;
  background:	url(spinner2.gif) no-repeat center;
}

/* Tab-Menu ul */
.rgtabs-menu  {
  margin: 0;
  padding: 0 0 0 6px;
  height: 26px;
  width: auto;
  background: url(tab-bkg.gif) bottom left repeat-x;
  list-style:none;
}

/* Tab-Menu li */
.rgtabs-menu  li, #left .rgtabs-menu  li {
  list-style-type: none;
  list-style:none;
  background: url(tab-on-l.gif) top left no-repeat;
  float: left;
  margin: 0 5px 0 0 !important;
  padding: 0 0 0 14px !important;
  cursor: pointer;
}	

/* Tab-Menu li.a */
.rgtabs-menu  li a, #left .rgtabs-menu  li a {
  background: url(tab-on-r.gif) top right no-repeat;
  display: block;
  float: left;
  height: 24px;
  line-height: 24px;
  color: #545454;
  font-family: arial;
  font-size: 10pt;
  font-weight: bold;
  padding: 2px 12px 0 0;
  text-decoration: none;
  outline:0;
}

/* Selected Tab */
#left .rgtabs-menu  li.rgtabs-selected, .rgtabs-menu  li.rgtabs-selected {
    background: url(tab-off-l.gif) top left no-repeat;
}	

#left .rgtabs-menu  li.rgtabs-selected a, .rgtabs-menu  li.rgtabs-selected a {
  background: url(tab-off-r.gif) top right no-repeat;
  color: #333;
}

/* Next / Prev nav */
.rgtabs-pageswrapper {
	display:block;
}