<!DOCTYPE html
     PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
     "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="de" lang="de">
<head>

	<!-- meta -->
	<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />

	<title>Protonet: Contentseite</title>
	
	<!-- css -->
	<link type="text/css" rel="stylesheet" href="fileadmin/template/css/reset.css" />
	<link type="text/css" rel="stylesheet" href="fileadmin/template/css/base.css" />
	<link type="text/css" rel="stylesheet" href="fileadmin/template/css/navi.css" />
	<link type="text/css" rel="stylesheet" href="fileadmin/template/css/content.css" />
	
	<!-- JS -->
	<script src="fileadmin/template/js/jquery-1.5.min.js" type="text/javascript"></script>
	<script src="fileadmin/template/js/easySlider.js" type="text/javascript"></script>
	
	<!--[if IE 6]>
  	<link type="text/css" rel="stylesheet" href="fileadmin/template/css/ie6.css" />
  	<script src="fileadmin/template/js/DD_belatedPNG_0.0.8a-min.js" type="text/javascript"></script>
		<script type="text/javascript">
      DD_belatedPNG.fix('#wrapper-shadow, #wrapper-shadow-top, #wrapper-logo a img, #navi-main, #navi-main li a, #navi-main li, .gfx, .arrow');
   	</script>
	<![endif]-->

</head>
<body class="body-content boxes">
<!-- ###DOCUMENT_BODY### begin -->		
	<!-- wrapper-shadow begin -->
	<div id="wrapper-shadow">
		
		<!-- shadow-top begin -->
		<div id="wrapper-shadow-top">
	
			<!-- wrapper-main begin -->
			<div id="wrapper-main">
				
				<!-- wrapper-header begin -->
				<div id="wrapper-header" class="clearfix">
					
					<!-- wrapper-logo begin -->
					<div id="wrapper-logo">
						<a href="###HOME_URL###"><img src="fileadmin/template/images/logo-protonet.png" alt="###LABEL_COMPANY###" title="###LABEL_COMPANY###" /></a>
					</div>
					<!-- wrapper-logo end -->
					
					<!-- wrapper-navi-meta begin -->
					<div id="wrapper-navi-meta">
						
						<!-- navi-meta begin -->
						###NAVI_META###
						<!-- navi-meta end -->
						
					</div>
					<!-- wrapper-navi-meta end -->			
					
					<!-- wrapper-navi-main begin -->
					<div id="wrapper-navi-main">
						
						<!-- navi-main begin -->
						###NAVI_MAIN###
						<!-- navi-main end -->
						
					</div>
					<!-- wrapper-navi-main end -->
					
				</div>
				<!-- wrapper-header end -->
				
				<!-- wrapper-content begin -->
				<div id="wrapper-content">
					<div id="wrapper-main">
						###CONTENT_MAIN###
					</div>
					<div id="wrapper-right">
						###CONTENT_RIGHT###
					</div>
					<div class="cb"></div>
				</div>
				<!-- wrapper-content end -->
				
				<div id="wrapper-footer-bg">
				
				<!-- wrapper-footer begin -->
				<div id="wrapper-footer">
						
						<!-- wrapper-navi-footer begin -->
						<div id="wrapper-navi-footer">
							
							<!-- navi-footer begin -->
							###NAVI_FOOTER###
							<!-- navi-footer end -->
							
						</div>
						<!-- wrapper-navi-footer end -->
						
						<p>&copy; copyright ###LABEL_COMPANY### ###COPYRIGHT_YEAR###</p>

				</div>
				<!-- wrapper-footer end -->
				
				</div>
				
			</div>
			<!-- wrapper-main end -->
		
		</div>
		<!-- wrapper-shadow-top end -->
	
	</div>
	<!-- wrapper-shadow end -->
<!-- ###DOCUMENT_BODY### end -->		
</body>
</html>