<script type="text/javascript">
  Function.prototype.inheritsFrom = function( parentClassOrObject ){ 
    if ( parentClassOrObject.constructor == Function ) 
    { 
      //Normal Inheritance 
      this.prototype = new parentClassOrObject;
      this.prototype.constructor = this;
      this.prototype.parent = parentClassOrObject.prototype;
    } else { 
      //Pure Virtual Inheritance 
      this.prototype = parentClassOrObject;
      this.prototype.constructor = this;
      this.prototype.parent = parentClassOrObject;
    } 
    return this;
  }

  function Product (type) {
  }

  function BasicNode () {
    this.name = 'basic';
    this.ram = 1;
    this.hdd = 500;
  }


  BasicNode.inheritsFrom( Product );

  function PowerNode () {
    this.name = 'power';
  }

  BasicNode.prototype.renderHtml = function(){ 
    return '<li>'+this.name+ramOptions+hddOptions+'<a href="#" class="removeProduct">del</a></li>';
  }


  PowerNode.inheritsFrom( BasicNode );

  function ExtremeNode () {
    this.name = 'extreme';
    this.ram = 2;
    this.hdd = 1000;

  }
  ExtremeNode.inheritsFrom( PowerNode );


  function Cart() {
    this.products = [];
  }


  Cart.prototype.addProduct = function(pro) {
    switch (pro) {
    case 'BasicNode': p = new BasicNode(); break;
    case 'PowerNode': p = new PowerNode(); break;
    case 'ExtremeNode': p = new ExtremeNode(); break;
    }
    // p = new JSObject(pfro);
    this.products.push(p);
    return p;
  }
  Product.prototype.setRam = function(ram) {
    this.ram = ram;
  };

  cart = new Cart();

  $(document).ready(function() {
    $("#cart").hide();
    //toggle the componenet with class msg_body
    $(".add").click(function()
    {
      $("#cart").slideDown(500);
      p = cart.addProduct($(this).parent().parent().attr('id'));

      ph = $('.templateProduct').clone().removeClass().show();
      ph.find('.product_name').html(p.name);
      ph.find('.product_ram').val(p.ram);
      ph.find('.product_hdd').val(p.hdd);

      ph.append('<input type="hidden" name="type[\''+p.name+'\'][][\'options\']" value="0" />')


      $("#order_list").append(ph);

      cart.products[0].setRam += 10;

      // add remove click to recently added product
      $(".removeProduct").click(function() {
        $(this).parent().remove();
        renumber();
        return false;
      });

      renumber();
      return false;
    });

    function renumber() {
      $.each($('.product_number'), function (index, inputelement) {
        inputelement.value = index;
        $(inputelement).parent().find('.product_number').html(index + '.');
      });
    }

  });
</script>

<div id="tab-switcher">
  <div id="tab-1" class="active tab">
    Buy
  </div>
  <div id="tab-2" class="tab">
    Tell me more
  </div>
</div>
<div id="content-tab-1" class="content-tab">
  <div id="content-left">
    <div id="products">
      <table border="0" cellspacing="5" cellpadding="5">
        <tr id="BasicNode">
          <th>Basic</th>
          <td>399 EUR</td>
          <td><a class="add">Add</a></td>
        </tr>
        <tr id="PowerNode">
          <th>Power</th>
          <td>499 EUR</td>
          <td><a class="add">Add</a></td>
        </tr>
        <tr id="ExtremeNode">
          <th>Extreme</th>
          <td>599 EUR</td>
          <td><a class="add">Add</a></td>
        </tr>
      </table>
    </div>

    <div class="bold">
      <span class="order_type">&nbsp;</span>
      <span class="order_single_price">&nbsp;</span>
      <span class="order_count">&nbsp;</span>
      <span class="order_total_price"><span id="total_price">0</span> EUR</span>
    </div>
  </div>
  <div id="content-right">
    <div id="cart">

      <li class="templateProduct" style="display: none;">
      <span class="product_number"></span>
      <span class="product_name"></span>
      <select class="product_ram"><option value="1">1</option><option value="2">2</option></select>
      <select class="product_hdd"><option value="500">500</option><option value="750">750</option><option value="1000">1000</option></select>
      <span class="procuct_price"></span>
      <a href="" class="removeProduct">remove</a>
      </li>

      <% form_tag("/orders/new/express", :id => 'buy_form', :method => :get) do -%>

        <ul id="order_list">
        </ul>

        <br />
        total: <span name="total"></span>

        <%= image_submit_tag("https://www.paypal.com/de_DE/i/btn/btn_xpressCheckout.gif") %>
      <% end -%>


    </div>
    <div id="content-right-balloon">
      <p>
      Did you know that protonet nodes can be coupled to create a bigger distributed social network?<br/>
      That they autoconnect once they are in range?<br/>
      That you can use protonet nodes to create your own neighborhood network?
      </p>
      <p>Imagine the possibilities!</p>
    </div>
    <div id="protonet-box">
      <div id="balloon-cone">
        <div id="protonet-dude">
        </div>
      </div>
    </div>
  </div>
  <div class="clearer"></div>
  <div id="specs">
    <h2><a name="specifications">Specifications</a></h2>
    <table>
      <tr>
        <th class="specs_basic">base node</th>
        <th class="specs_power">power node</th>
        <th class="specs_extreme">extreme node</th>
      </tr>
      <tr>
        <td colspan="3" class="specs_basic specs_power specs_extreme">
          mounted in our handmade protonet case, real metal, real awesome
        </td>
      </tr>
      <tr>
        <td colspan="3" class="specs_basic specs_power specs_extreme">
          passively cooled, super silent, very low power usage (25W at idle and 33W under load, apprx. €2,50/mth)
        </td>
      </tr>
      <tr>
        <td colspan="3" class="specs_basic specs_power specs_extreme">
          protonet operating system:
          <ul>
            <li>the awesomest router/homeserver UI</li>
            <li>zero config social networking right out of the box!</li>
            <li>zero config filesharing for home or office</li>
            <li>zero config group vpn (this ones in beta use right now but should be ready by the shipping date)</li>
            <li>zero config awesome wifi management</li>
            <li>the basis of all this is a ubuntu 10.04 server + protonet pixie dust</li>
            <li>using all standard and open-source technologies</li>
            <li>root access</li>
            <li>access to all sources</li>
            <li>awesome hackability</li>
          </ul>
        </td>
      </tr>
      <tr>
        <td class="specs_basic">Intel Atom D410</td>
        <td class="specs_power">Intel Atom D510</td>
        <td class="specs_extreme">Intel Atom 330</td>
      </tr>
      <tr>
        <td class="specs_basic">1,66 GHz single core, two threads</td>
        <td class="specs_power">1,66 GHz dual core, four threads</td>
        <td class="specs_extreme">1,6 GHz dual core, four threads</td>
      </tr>
      <tr>
        <td class="specs_basic">
          <ul>
            <li>300mbit Wifi (b/g/n) with external high gain antenna</li>
            <li>1 GB RAM</li>
            <li>2 x SATA Ports</li>
            <li>8 x USB 2.0</li>
            <li>Audio I/O (speaker/line/mic)</li>
            <li>VGA-Out</li>
            <li>2 x Serial Ports</li>
            <li>2 x PS/2</li>
          </ul>
        </td>
        <td class="specs_power">
          <ul>
            <li>300mbit Wifi (b/g/n) with external high gain antenna</li>
            <li>1 GB RAM</li>
            <li>2 x SATA Ports</li>
            <li>Mini PCI Express</li>
            <li>8 x USB 2.0</li>
            <li>Audio I/O (speaker/line/mic)</li>
            <li>VGA-Out</li>
            <li>Parallel and LPT port</li>
            <li>2 x Serial Ports</li>
            <li>2 x PS/2</li>
          </ul>
        </td>
        <td class="specs_extreme">
          <ul>
            <li>300mbit Wifi (b/g/n) with external high gain antenna</li>
            <li>2 GB RAM</li>
            <li>4 x SATA Ports</li>
            <li>1 x eSATA Port</li>
            <li>1 x PCIe x16 PCI Slot</li>
            <li>10 x USB 2.0</li>
            <li>HDMI-Out</li>
            <li>VGA-Out</li>
            <li>S/PDIF-Out (optical)</li>
            <li>Audio I/O (speaker/line/mic)</li>
            <li>Bluetooth</li>
            <li>2 x PS/2</li>
            <li>IR remote control and receiver</li>
          </ul>
        </td>
      </tr>
      <tr>
        <td class="specs_basic">Fast Ethernet</td>
        <td colspan="2" class="specs_power specs_extreme">Gigabit Ethernet</td>
      </tr>
      <tr>
        <td class="specs_basic">500GB</td>
        <td class="specs_power">2 x 500GB (RAID)</td>
        <td class="specs_extreme">2 x 1TB (RAID)</td>
      </tr>
      <tr>
        <td class="specs_basic">extendable via USB, serial ports (and PS/2 :P)</td>
        <td class="specs_power">this one's got an additional Mini PCI Express, parallel and LPT port, enjoy the Mini PCI Express port for all kinda great extensions</td>
        <td class="specs_extreme">the extreme model is just that: extremely packed! With the added HDMI port and the NVidia Graphics Chip you can watch FULL HD stuff on this beast. The added SATA Ports allow up to four internal and an external eSATA drive. It comes with double the ram and bluetooth. Crazy!</td>
      </tr>
      <tr>
        <td class="specs_basic">color choice: Orange! (RAL2004)</td>
        <td colspan="2" class="specs_power specs_extreme">color choice: Orange! (RAL2004) or Matté Black!</td>
      </tr>
      <tr>
        <td class="specs_basic">€ 399,-</td>
        <td class="specs_power">€499,-</td>
        <td class="specs_extreme">€599,-</td>
      </tr>
    </table>
  </div>
</div>
<div id="content-tab-2" class="content-tab">
  <div id="info-picture">
    <img src="/images/diagram.jpg" width="620" />
  </div>
</div>
