<% content_for :head do -%>
  <script type="text/javascript" src="/assets/mootools.js"></script>
  <script type="text/javascript" src="/assets/rgtabs.js"></script>
  <link rel="stylesheet" href="/assets/tabs.css" type="text/css" media="screen" />
  
  <script type="text/javascript">
    <!--
    
    window.addEvent('domready', function() {
      var boxtabs = new SimpleTabs($('boxtabs'), {
        entrySelector: 'li a',
        ajaxOptions: {method: 'get'}
      });
    });
    
    // -->
  </script>
<% end -%>

<h1>Meet your new IT Department</h1>
<div class="tricol multicolumnContainer clearfix">

  <div class="column">
    <h2>Handmade</h2>
    <p>No decentia sui, dicto esse se pulchritudo, pupa Sive res indifferenter. Captivo pala pro de tandem Singulus labor, determino cui Ingurgito quo Ico pax ethologus praetorgredior internuntius. Ops foveo Huius dux respublica his animadverto dolus imperterritus. Pax necne per, ymo invetero voluptas, qui dux somniculosus lascivio vel res compendiose Oriens propitius, alo ita pax galactinus emo. Lace.</p>

    <h2>Incredible Storage</h2>
    <p>No decentia sui, dicto esse se pulchritudo, pupa Sive res indifferenter. Captivo pala pro de tandem Singulus labor, determino cui Ingurgito quo Ico pax ethologus praetorgredior internuntius. Ops foveo Huius dux respublica his animadverto dolus imperterritus. Pax necne per, ymo invetero voluptas, qui dux somniculosus lascivio vel res compendiose Oriens propitius, alo ita pax galactinus emo. Lace.</p>
  </div>

  <div class="column">
    <h2>One Button</h2>
    <p>Onsentaneus ibi Subsanno ago quibus vos crustulum tam pala Infremo sem Crebra pro ius Perstruo. Vomer tractare proceritas reciproca obex per Hereditas tot Ver peto ait Emiror effluo incrementabiliter Manipulus basilicus cur repletus duo Industria ira via. Heu fas gelidus. Is ius Multi rex</p>

    <h2>Extendable</h2>
    <p>I vituperabilis Depascor stabilis an animus. His decipio eo hi certus, follis luo Triduum facio per Letalis pie Cruentus, venio ego tendo Percutio stips exter scilicet connubialis Anhelo Fastidio cogo commodum terra, Sollertia se edo me signum. Pullulo edo Lugo in lex Edoctus capio concedo ictus, ego sic magnificabiliter Retribuo an Laurus penitus, refero abeo os ile ferito nam De ora Personam St
    </p>

    <h2>Instantly Connected</h2>
    <p>Onsentaneus ibi Subsanno ago quibus vos crustulum tam pala Infremo sem Crebra pro ius Perstruo. Vomer tractare proceritas reciproca obex per Hereditas tot Ver peto ait Emiror effluo incrementabiliter Manipulus basilicus cur repletus duo Industria ira via. Heu fas gelidus. Is ius Multi rex</p>
  </div>

  <div class="column">
    <h2>Raw Power</h2>
    <p>Trictus delinquentes sesquioctavus cras hoc silva Concedo, abeo repere nam Familia lignarius cado sesquimellesimus Se, volo tergo duco Dictator per Socus, Processus cum Avello hac opportunus. Cicuta ops extra Pluvia refectorium vita Orgia tener si Renuntio surgo quatenus/quatinus. Mei dum opportunitas, eu liber Serio do demens Monitio dono algor, incrementum indulgens. Rogo hos is interpolatio, t.</p>

    <h2>Green Power</h2>
    <p>Persisto, incontinencia vis coloratus cogo in attonbitus quam repo immarcescibilis inceptum. Ego Vena series sudo ac Nitidus. Speculum, his opus in undo de editio Resideo impetus memor, inflo decertatio. His Manus dilabor do, eia lumen, sed Desisto.</p>
  </div>

</div>

<div>
  <h1>Choose your model</h1>

  <ul id="boxtabs">
    <li><%=link_to 'BASE', box_path('base') %></li>
    <li><%=link_to 'POWER', box_path('power') %></li>
    <li><%=link_to 'BUSINESS', box_path('business') %></li>
  </ul>
</div>

<div>
  <h1>And buy it at our store</h1>
  <%=link_to image_tag('/uploads/pics/protonet-buy_02.png'), buy_path %>
</div>

