<tab>
  <div class="multicolumnContainer clearfix">
    <div style="width: 600px;" class="column">
      <ul class="csc-bulletlist-2">
        <li>300 mb WiFi</li>
        <li>1 GB RAM</li>
        <li>500 GB HardDisk</li>
        <li>Lorem ipsum</li>
        <li>6+2 USB 2.0</li>
        <li>Audio VO</li>
        <li>Ipsum VGA</li>
      </ul>
    </div>

    <div style="width: 230px;" class="column">
      <h2>Connecting Anything</h2>
      <p>Se tam hoc succresco Filius excellentia ait to annus offendo Tam, ac  Crimen, agna Convenio congressio.</p>
      <ul>
        <li>Lorem ipsum ja sowieka</li>
        <li>Ipsa fralek ut so</li>
        <li>Na la so fi to e ce</li>
      </ul>
    </div>
  </div>
</tab>

