<tab>
    <!--  CONTENT ELEMENT, uid:105/multicolumn [begin] -->
        <div id="c105" class="csc-default" ><div class="multicolumnContainer  clearfix" style="width: 100%;">                   <div style="width: 600px; " class="column column1 columnFirst listItemFirst ">                                  <div class="columnItems" style="">
                    <div class="columnItem columnItem1 columnItemFirst listItemFirst columnItemLast listItemLast columnItembullets">
    <!--  CONTENT ELEMENT, uid:107/bullets [begin] -->
        <div id="c107" class="csc-default" >
        <!--  Bullet list: [begin] -->
            <ul class="csc-bulletlist csc-bulletlist-2"><li class="odd">300 mb WiFi
</li><li class="even">1 GB RAM
</li><li class="odd">500 GB HardDisk
</li><li class="even">Lorem<br />ipsum
</li><li class="odd">6+2 USB 2.0
</li><li class="even">Audio VO
</li><li class="odd">Ipsum VGA</li></ul>
        <!--  Bullet list: [end] -->
            </div>
    <!--  CONTENT ELEMENT, uid:107/bullets [end] -->
        </div>
                </div>              </div><div style="width: 230px; " class="column column2  columnLast listItemLast">                                  <div class="columnItems" style="">
                    <div class="columnItem columnItem1 columnItemFirst listItemFirst columnItemLast listItemLast columnItemtext">
    <!--  CONTENT ELEMENT, uid:106/text [begin] -->
        <div id="c106" class="csc-default" ><h2>Connecting Anything</h2>
        <!--  Text: [begin] -->
            <p class="bodytext">Se tam hoc succresco Filius excellentia ait to annus offendo Tam, ac  Crimen, agna Convenio congressio.</p><ul><li>Lorem ipsum ja sowieka</li><li>Ipsa fralek ut so</li><li>Na la so fi to e ce<br></li></ul>
        <!--  Text: [end] -->
            </div>
    <!--  CONTENT ELEMENT, uid:106/text [end] -->
        </div>
                </div>              </div>              </div></div>
    <!--  CONTENT ELEMENT, uid:105/multicolumn [end] -->
        </tab>