<h1>Hi, I'm your new Datacenter!</h1>

<div class="order-top">
  <ul id="order-top-navi">
    <li class="order-top-navi-item order-top-navi-item-first">
      <h2>BASE</h2>
      <ul>
        <li>1 x 1.6 GHz</li>
        <li>1 GB RAM</li>
        <li>1 x 500 GB MBD</li>
        <li>8 x USB 2.0</li>
        <li>VGA OUT</li>
        <li>100 mbit Ethernet</li>
      </ul>
      <p>499,-</p>
    </li>
    <li class="order-top-navi-item">
      <h2>POWER</h2>
      <ul>
        <li>2 x 1.6 GHz</li>
        <li>2 GB RAM</li>
        <li>2 x 500 GB MBD</li>
        <li>8 x USB 2.0</li>
        <li>VGA + PCI</li>
        <li>1000 mbit Ethernet</li>
      </ul>
      <p>799,-</p>
    </li>
    <li class="order-top-navi-item">
      <h2>BUSINESS</h2>
      <ul>
        <li>2 x 1.6 GHz</li>
        <li>2 GB RAM</li>
        <li>2 x 1 TB MBD</li>
        <li>10 x USB 2.0</li>
        <li>MDI + PCI 16</li>
        <li>1000 mbit Ethernet</li>
      </ul>
      <p>1999,-</p>
    </li>
  </ul>
  <img src="fileadmin/template/images/order-temp.png" alt="temp">
</div>

<div class="order-content">
  <div class="order-content-left">
    <ul class="csc-bulletlist-2">
      <li>300 mb WiFi</li>
      <li>1 GB RAM</li>
      <li>500 GB HardDisk</li>
      <li>Lorem ipsum</li>
      <li>6+2 USB 2.0</li>
      <li>Audio VO</li>
      <li>Ipsum VGA</li>
    </ul>
  </div>
  
  <div class="order-content-right"></div>
</div>
