<% content_for :wrapper, 'index' -%>

<div class="tx-ghrandomcontent-pi1" id="wrapper-start-box">
  <img src="fileadmin/template/images/_TEMP/start-teaser-1.jpg" />
</div>

<div id="wrapper-start-teaser" class="clearfix">
  <div class="start-teaser">
    <h1>aktuelle NEWS</h1>

    <div class="news-latest-container">
      <div class="news-latest-item">
        <span class="news-latest-date">16.03.2011 16:47</span>
        <a href="#"><p>Second test sub</p></a>
        <hr class="clearer" />
      </div>

      <div class="news-latest-item">
        <span class="news-latest-date">16.03.2011 12:38</span>
        <a href="#"><p>Dies ist ein Test Dies ist ein Test Dies ist ein Test Dies ist ein Test Dies...</p></a>
        <hr class="clearer" />
      </div>
    </div>
  </div>

  <div class="start-teaser">
    <h1>protonet PRIVAT</h1>
    <p>At vero eos et accusam et justo duo dolores et ea rebum. Stet clita kasd gubergren, takimata sanctus est Lorem ipsum dolor sit amet lorem ipsum dolor sit.</p>
  </div>

  <div class="start-teaser start-teaser-last">
    <h1>protonet BUSINESS</h1>
    <img src="uploads/pics/start-business.png" width="256" height="85" border="0" alt="" />
  </div>
</div>
        
