<img src="/assets/index/start-teaser-1.jpg" style="padding-bottom: 20px;" alt="Protonet. Building a new Internet." />

<ul id="boxes" class="clearfix">
  <li class="newsbox">
    <h1>aktuelle NEWS</h1>

    <ul>
      <li><a href="#">
        <span>16.03.2011 16:47</span>
        <p>Second test sub</p>
      </a></li>

      <li><a href="#">
        <span>16.03.2011 12:38</span>
        <p>Dies ist ein Test Dies ist ein Test Dies ist ein Test Dies ist ein Test Dies...</p>
      </a></li>
    </ul>
  </li>

  <li>
    <h1>protonet PRIVAT</h1>
    <p class="content">At vero eos et accusam et justo duo dolores et ea rebum. Stet clita kasd gubergren, takimata sanctus est Lorem ipsum dolor sit amet lorem ipsum dolor sit.</p>
  </li>

  <li>
    <h1>protonet BUSINESS</h1>
    <img class="content" src="/assets/index/start-business.png" width="256" height="85" alt="" />
  </li>
</ul>
        
