<div class="clearfix">
  <img src="uploads/pics/placeholder-image-medium_01.png" class="leftimg">
  <p>Lorem ipsum dolor sit amet lorem ipsum dolor sit. At vero eos et accusam et justo duo dolores et ea rebum. Stet clita kasd gubergren, takimata sanctus est. Lorem ipsum dolor sit amet lorem ipsum dolor sit. At vero eos et accusam et justo duo dolores et ea rebum.</p>
</div>

<div class="clearfix">
  <img src="uploads/pics/placeholder-image-medium_02.png" class="rightimg">
  <p>Lorem ipsum dolor sit amet lorem ipsum dolor sit. At vero eos et accusam et justo duo dolores et ea rebum. Stet clita kasd gubergren, takimata sanctus est. Lorem ipsum dolor sit amet lorem ipsum dolor sit. At vero eos et accusam et justo duo dolores et ea rebum.</p>
</div>

