<tab>
  <div class="clearfix">
    <img src="uploads/pics/protonet-teaser-img_01.png" class="leftimg" />
    <img src="uploads/pics/protonet-buy_01.png" width="118" height="44" class="rightimg" />
    <h2>Summary</h2>
    <p>Setup and Administration of the protonet node is intuitive and simple, there is no need to have administration Know-How.</p>
  </div>

  <div style="width: 50%; float: left;">
    <div style="padding: 0 6px 0 0">
      <h2>Intuitive Backend</h2>
      <p>The Administration Area is held simple without in-depth menus that would need explanation. As an administrator you can manage and add channels. 
Being an owner of a channel allows you to subscribe and unsubscribe users. You can also define whether the channel is <strong>public</strong> so that users can subscribe without your verification, <strong>global</strong>, meaning the channel is visible from external nodes and clients, or <strong>none</strong> of the above.
</p>
    </div>
  </div>
  <div style="width: 50%; float: right;">
    <div style="padding: 0 0 0 6px">
      <h2>Groups and Individuals</h2>
      <p>Users can be assigned to group to ease the administration. The groups can be given rights and access to specific channels and file folders. A member of a group automatically has the same rights of the group.</p>
      <p>Individual users can be added to the channels by user name, ID or e-mail address. Individuals can, but do not need to, belong to one or more groups. If needed, rights can be altered individually. Each channel has their individual ID that can be given to a third party, for example to a customer you need to work together with.</p>
    </div>
  </div>
</tab>

