<%= render :partial => "shared/header" %>
<script type="text/javascript" src="typo3conf/ext/rgtabs/res/scripts/mootools.js"></script><script type="text/javascript" src="typo3conf/ext/rgtabs/res/scripts/rgtabs.js"></script><link rel="stylesheet" href="fileadmin/template/plugins/rgtabs/main.css" type="text/css" media="screen" />

<script type="text/javascript">
  /*<![CDATA[*/
<!--
window.addEvent('domready', function() {
        var tabs25 = new SimpleTabs($('rgtabs25'), {
          entrySelector: 'li a',
        ajaxOptions: {
        method: 'get'
        }
        });
      });


// -->
  /*]]>*/
</script>

        <!-- wrapper-content begin -->
        <div id="wrapper-content">
          
  <!--  CONTENT ELEMENT, uid:25/list [begin] -->
    <div id="c25" class="csc-default"><h1>Choose your model</h1>
    <!--  Plugin inserted: [begin] -->
      


  <!--

    BEGIN: Content of extension "rgtabs", plugin "tx_rgtabs_pi1"

  -->
  <div class="tx-rgtabs-pi1">
    <div id="rgtabs25"><ul><li><a href="index.php?id=11&amp;type=543&amp;tab=58%2C62">EASY</a></li><li><a href="index.php?id=11&amp;type=543&amp;tab=54">SOCIAL</a></li><li><a href="index.php?id=11&amp;type=543&amp;tab=">SHARING</a></li><li><a href="index.php?id=11&amp;type=543&amp;tab=">ANYWHERE</a></li><li><a href="index.php?id=11&amp;type=543&amp;tab=">MORE</a></li></ul></div>
  </div>
  
  <!-- END: Content of extension "rgtabs", plugin "tx_rgtabs_pi1" -->

  
    <!--  Plugin inserted: [end] -->
      </div>
  <!--  CONTENT ELEMENT, uid:25/list [end] -->
    
  <!--  CONTENT ELEMENT, uid:18/image [begin] -->
    <div id="c18" class="csc-default">
    <!--  Image block: [begin] -->
      <div class="csc-textpic csc-textpic-center csc-textpic-above"><div class="csc-textpic-imagewrap csc-textpic-single-image" style="width:896px;"><img src="uploads/pics/placeholder-image-big.png" width="896" height="351" border="0" alt="" /></div></div><div class="csc-textpic-clear"><!-- --></div>
    <!--  Image block: [end] -->
      </div>
  <!--  CONTENT ELEMENT, uid:18/image [end] -->
    
  <!--  CONTENT ELEMENT, uid:44/multicolumn [begin] -->
    <div id="c44" class="csc-default"><div class="multicolumnContainer multicolumnLayout1 clearfix" style="width: 100%;">          <div style="width: 49.9%; " class="column column1 columnFirst listItemFirst ">                  <div class="columnItems" style="padding: 0 6px 0 0">
          <div class="columnItem columnItem1 columnItemFirst listItemFirst columnItemLast listItemLast columnItemtextpic">
  <!--  CONTENT ELEMENT, uid:45/textpic [begin] -->
    <div id="c45" class="csc-default">
    <!--  Image block: [begin] -->
      <div class="csc-textpic csc-textpic-intext-left"><div class="csc-textpic-imagewrap csc-textpic-single-image"><img src="uploads/pics/placeholder-image-small.png" width="176" height="130" border="0" alt="" /></div><div class="csc-textpic-text">
    <!--  Text: [begin] -->
      <h2>Headline</h2>
<p class="bodytext">At vero eos et accusam et justo duo dolores et ea rebum. Stet clita  kasd gubergren, takimata sanctus est Lorem ipsum dolor sit amet lorem  ipsum dolor sit.</p>
    <!--  Text: [end] -->
      </div></div><div class="csc-textpic-clear"><!-- --></div>
    <!--  Image block: [end] -->
      </div>
  <!--  CONTENT ELEMENT, uid:45/textpic [end] -->
    </div>
        </div>        </div><div style="width: 49.9%; " class="column column2  columnLast listItemLast">                  <div class="columnItems" style="padding: 0 0 0 6px">
          <div class="columnItem columnItem1 columnItemFirst listItemFirst columnItemLast listItemLast columnItemtextpic">
  <!--  CONTENT ELEMENT, uid:46/textpic [begin] -->
    <div id="c46" class="csc-default">
    <!--  Image block: [begin] -->
      <div class="csc-textpic csc-textpic-intext-left"><div class="csc-textpic-imagewrap csc-textpic-single-image"><img src="uploads/pics/placeholder-image-small_01.png" width="176" height="130" border="0" alt="" /></div><div class="csc-textpic-text">
    <!--  Text: [begin] -->
      <h2>Headline</h2>
<p class="bodytext">At vero eos et accusam et justo duo dolores et ea rebum. Stet clita  kasd gubergren, takimata sanctus est Lorem ipsum dolor sit amet lorem  ipsum dolor sit.</p>
    <!--  Text: [end] -->
      </div></div><div class="csc-textpic-clear"><!-- --></div>
    <!--  Image block: [end] -->
      </div>
  <!--  CONTENT ELEMENT, uid:46/textpic [end] -->
    </div>
        </div>        </div>        </div></div>
  <!--  CONTENT ELEMENT, uid:44/multicolumn [end] -->
    
  <!--  CONTENT ELEMENT, uid:48/multicolumn [begin] -->
    <div id="c48" class="csc-default"><div class="multicolumnContainer multicolumnLayout1 clearfix" style="width: 100%;">          <div style="width: 49.9%; " class="column column1 columnFirst listItemFirst ">                  <div class="columnItems" style="padding: 0 6px 0 0">
          <div class="columnItem columnItem1 columnItemFirst listItemFirst columnItemLast listItemLast columnItemimage">
  <!--  CONTENT ELEMENT, uid:49/image [begin] -->
    <div id="c49" class="csc-default">
    <!--  Image block: [begin] -->
      <div class="csc-textpic csc-textpic-center csc-textpic-above"><div class="csc-textpic-imagewrap csc-textpic-single-image" style="width:448px;"><img src="uploads/pics/placeholder-image-medium_01.png" width="448" height="132" border="0" alt="" /></div></div><div class="csc-textpic-clear"><!-- --></div>
    <!--  Image block: [end] -->
      </div>
  <!--  CONTENT ELEMENT, uid:49/image [end] -->
    </div>
        </div>        </div><div style="width: 49.9%; " class="column column2  columnLast listItemLast">                  <div class="columnItems" style="padding: 0 0 0 6px">
          <div class="columnItem columnItem1 columnItemFirst listItemFirst columnItemLast listItemLast columnItemtext">
  <!--  CONTENT ELEMENT, uid:50/text [begin] -->
    <div id="c50" class="csc-default">
    <!--  Text: [begin] -->
      <p class="bodytext">Lorem ipsum dolor sit amet lorem ipsum dolor sit. At vero eos et accusam  et justo duo dolores et ea rebum. Stet clita kasd gubergren, takimata  sanctus est. Lorem ipsum dolor sit amet lorem ipsum dolor sit. At vero  eos et accusam et justo duo dolores et ea rebum.<br /></p>
    <!--  Text: [end] -->
      </div>
  <!--  CONTENT ELEMENT, uid:50/text [end] -->
    </div>
        </div>        </div>        </div></div>
  <!--  CONTENT ELEMENT, uid:48/multicolumn [end] -->
    
  <!--  CONTENT ELEMENT, uid:51/multicolumn [begin] -->
    <div id="c51" class="csc-default"><div class="multicolumnContainer multicolumnLayout1 clearfix" style="width: 100%;">          <div style="width: 49.9%; " class="column column1 columnFirst listItemFirst ">                  <div class="columnItems" style="padding: 0 6px 0 0">
          <div class="columnItem columnItem1 columnItemFirst listItemFirst columnItemLast listItemLast columnItemtext">
  <!--  CONTENT ELEMENT, uid:52/text [begin] -->
    <div id="c52" class="csc-default">
    <!--  Text: [begin] -->
      <p class="bodytext">Lorem ipsum dolor sit amet lorem ipsum dolor sit. At vero eos et accusam  et justo duo dolores et ea rebum. Stet clita kasd gubergren, takimata  sanctus est. Lorem ipsum dolor sit amet lorem ipsum dolor sit. At vero  eos et accusam et justo duo dolores et ea rebum.<br /></p>
    <!--  Text: [end] -->
      </div>
  <!--  CONTENT ELEMENT, uid:52/text [end] -->
    </div>
        </div>        </div><div style="width: 49.9%; " class="column column2  columnLast listItemLast">                  <div class="columnItems" style="padding: 0 0 0 6px">
          <div class="columnItem columnItem1 columnItemFirst listItemFirst columnItemLast listItemLast columnItemimage">
  <!--  CONTENT ELEMENT, uid:53/image [begin] -->
    <div id="c53" class="csc-default">
    <!--  Image block: [begin] -->
      <div class="csc-textpic csc-textpic-center csc-textpic-above"><div class="csc-textpic-imagewrap csc-textpic-single-image" style="width:448px;"><img src="uploads/pics/placeholder-image-medium_02.png" width="448" height="132" border="0" alt="" /></div></div><div class="csc-textpic-clear"><!-- --></div>
    <!--  Image block: [end] -->
      </div>
  <!--  CONTENT ELEMENT, uid:53/image [end] -->
    </div>
        </div>        </div>        </div></div>
  <!--  CONTENT ELEMENT, uid:51/multicolumn [end] -->
            
        </div>
        <!-- wrapper-content end -->
<%= render :partial => "shared/footer" %>