<img src="uploads/pics/placeholder-image-big.png" width="870" height="351" alt="">

<div>
  <div style="width: 50%; float: left;">
    <div style="padding: 0 6px 0 0">
      <img src="uploads/pics/placeholder-image-small.png" class="leftimg">
      <h2>Headline</h2>
      <p>At vero eos et accusam et justo duo dolores et ea rebum. Stet clita kasd gubergren, takimata sanctus est Lorem ipsum dolor sit amet lorem ipsum dolor sit.</p>
    </div>
  </div>
  
  <div style="width: 50%; float: left;">
    <div style="padding: 0 6px 0 0">
      <img src="uploads/pics/placeholder-image-small.png" class="leftimg">
      <h2>Headline</h2>
      <p>At vero eos et accusam et justo duo dolores et ea rebum. Stet clita kasd gubergren, takimata sanctus est Lorem ipsum dolor sit amet lorem ipsum dolor sit.</p>
    </div>
  </div>

</div>

