<img src="uploads/pics/placeholder-image-big.png" width="870" height="351" alt="">

<div>
  <div style="width: 50%; float: left;">
    <div style="padding: 0 6px 0 0">
      <img src="uploads/pics/placeholder-image-small.png" class="leftimg">
      <h2>Working Together</h2>
      <p>When working together on a regular basis main tasks are sharing documents and talking about them. Protonet focusses on these tasks and keeps interaction simple. You can address individuals in the channel as well as contact them in a private chat. The channel chat allows shares and replies of messages, detailed view and it also displays pictures and plays videos. 
Users can publish their files in the chat so everyone knows what the discussion is about. It also eases the access to the certain files.</p>
    </div>
  </div>
  
  <div style="width: 50%; float: left;">
    <div style="padding: 0 6px 0 0">
      <img src="uploads/pics/placeholder-image-small.png" class="leftimg">
      <h2>Global Collaboration and Support</h2>
      <p>The protonet nodes are connected among one another if you wish so. Meaning there are global channels everyone has access to. This allows you to contact the protonet support by addressing them in the support channel. There is no way of solving problems faster. If one company grows lager and may have subsidiaries or offices at different locations that need their own node, communication stays barrier-free.</p>
    </div>
  </div>

</div>

