<tab>
  <div class="clearfix">
    <img src="uploads/pics/protonet-teaser-img_01.png" class="leftimg" />
    <img src="uploads/pics/protonet-buy_01.png" width="118" height="44" class="rightimg" />
    <p>A private cloud powered by protonet gives you all the cloud advantages: the ability to access data from anywhere, instant and easy collaboration, backup services and much more without privacy issues. Our protonet node provides your business with a highly advanced mini server that takes care of your basic server, wifi and storage needs.</p>
  </div>
  <div style="width: 50%; float: left;">
    <div style="padding: 0 6px 0 0">
      <h2>Router</h2>
      <p>The node comes configured for your requirements and conditions. All you need to do to create a local area network is to plug it in. Your users access wireless, register once and are ready to use protonet.</p>
    </div>
  </div>
  <div style="width: 50%; float: right;">
    <div style="padding: 0 0 0 6px">
      <h2>Channel</h2>
      <p>Main navigation within the protonet is done with the help of channels. Channels can be created for departments, workgroups, projects, and all kinds of communication and collaboration needs. Users can only access communication and data of the channels they are assigned to.</p>
    </div>
  </div>
  <div style="width: 50%; float: right;">
    <div style="padding: 0 0 0 6px">
      <h2>Fileserver</h2>
      <p>One of the main functions is the network attached storage. Every channel can have their own file depot that can be used just like the well-known windows explorer or mac finder. Drop files, create folder, publish files in the channel and so on. Users subscribed to the individual channel can browse through, download and upload the files. If you wish to give individual users or user groups specific rights for file access you can do so in the administration area that is clean and intuitive <a href="protonet_easy">simple</a>.</p>
</div>
  </div>
    </div>
  <div style="width: 50%; float: left;">
    <div style="padding: 0 0 0 6px">
      <h2>Collaboration</h2>
      <p>Users cannot only use the channels to exchange files; they can also inform about and discuss topics regarding each channel. Files can be published in the channel to be noticed, messages can be quoted, individuals can be addressed by name, links can be exchanged, video conferences can be held (soon), <a href="protonet_social">and so on</a>.</p>
      <p>There is no need to be in the local area network to use the channels. Since the protonet is accessible by any browser people can log in <a href="protonet_anywhere">anywhere</a>.</p>
</div>
  </div>
</tab>

