<div id="c18" class="csc-default">
  <!--  Image block: [begin] -->
  <div class="csc-textpic csc-textpic-center csc-textpic-above">
    <div class="csc-textpic-imagewrap csc-textpic-single-image" style="width:870px;">
      <img src="uploads/pics/placeholder-image-big.png" width="870" height="351" border="0" alt="">
    </div>
  </div>
  <div class="csc-textpic-clear">
    <!-- -->
  </div><!--  Image block: [end] -->
</div><!--  CONTENT ELEMENT, uid:18/image [end] -->
<!--  CONTENT ELEMENT, uid:44/multicolumn [begin] -->
<div id="c44" class="csc-default">
  <div class="multicolumnContainer multicolumnLayout1 clearfix" style="width: 100%;">
    <div style="width: 49.9%;" class="column column1 columnFirst listItemFirst">
      <div class="columnItems" style="padding: 0 6px 0 0">
        <div class="columnItem columnItem1 columnItemFirst listItemFirst columnItemLast listItemLast columnItemtextpic">
          <!--  CONTENT ELEMENT, uid:45/textpic [begin] -->
          <div id="c45" class="csc-default">
            <!--  Image block: [begin] -->
            <div class="csc-textpic csc-textpic-intext-left">
              <div class="csc-textpic-imagewrap csc-textpic-single-image">
                <img src="uploads/pics/placeholder-image-small.png" width="168" height="130" border="0" alt="">
              </div>
              <div class="csc-textpic-text">
                <!--  Text: [begin] -->
                <h2>
                  Headline
                </h2>
                <p class="bodytext">
                  At vero eos et accusam et justo duo dolores et ea rebum. Stet clita kasd gubergren, takimata sanctus est Lorem ipsum dolor sit amet lorem ipsum dolor sit.
                </p><!--  Text: [end] -->
              </div>
            </div>
            <div class="csc-textpic-clear">
              <!-- -->
            </div><!--  Image block: [end] -->
          </div><!--  CONTENT ELEMENT, uid:45/textpic [end] -->
        </div>
      </div>
    </div>
    <div style="width: 49.9%;" class="column column2 columnLast listItemLast">
      <div class="columnItems" style="padding: 0 0 0 6px">
        <div class="columnItem columnItem1 columnItemFirst listItemFirst columnItemLast listItemLast columnItemtextpic">
          <!--  CONTENT ELEMENT, uid:46/textpic [begin] -->
          <div id="c46" class="csc-default">
            <!--  Image block: [begin] -->
            <div class="csc-textpic csc-textpic-intext-left">
              <div class="csc-textpic-imagewrap csc-textpic-single-image">
                <img src="uploads/pics/placeholder-image-small_01.png" width="168" height="130" border="0" alt="">
              </div>
              <div class="csc-textpic-text">
                <!--  Text: [begin] -->
                <h2>
                  Headline
                </h2>
                <p class="bodytext">
                  At vero eos et accusam et justo duo dolores et ea rebum. Stet clita kasd gubergren, takimata sanctus est Lorem ipsum dolor sit amet lorem ipsum dolor sit.
                </p><!--  Text: [end] -->
              </div>
            </div>
            <div class="csc-textpic-clear">
              <!-- -->
            </div><!--  Image block: [end] -->
          </div><!--  CONTENT ELEMENT, uid:46/textpic [end] -->
        </div>
      </div>
    </div>
  </div>
</div><!--  CONTENT ELEMENT, uid:44/multicolumn [end] -->
