<tab>
  <div class="clearfix">
    <img src="uploads/pics/protonet-teaser-img_01.png" class="leftimg" />
    <img src="uploads/pics/protonet-buy_01.png" width="118" height="44" class="rightimg" />
    <h2>Summary</h2>
    <p>Protonet allows collaboration regardless of location while offering highest compatibility and security.</p>
    <p>The only limiting factor of using protonet outside of your local area network is access to the internet. Given that, you can use all functions of the protonet everywhere you can imagine without having to worry about someone hacking into your system.</p>
  </div>

  <div style="width: 50%; float: left;">
    <div style="padding: 0 6px 0 0">
      <h2>Browser and Operating System Compatibility</h2>
      <p>If you use Internet Explorer, Firefox, Chrome, Safari or else does not matter. Neither are functions limited by the operating system you prefer, protonet works with windows just as well as with iOS or Linux. You might as well use protonet with your mobile phone or tablet. Not that comfortable yet, but there will be adequate applications soon.</p>
    </div>
  </div>
  <div style="width: 50%; float: right;">
    <div style="padding: 0 0 0 6px">
      <h2>Security</h2>
      <p>Data is transferred highly encrypted without slowing down the process so that maximum security can be assured. And if you don’t want your files to be accessible over the internet, you can disconnect your node from the world wide web and use it locally only. </p>
      </div>
  </div>
</tab>