<div id="c48" class="csc-default">
  <div class="multicolumnContainer multicolumnLayout1 clearfix" style="width: 100%;">
    <div style="width: 49.9%;" class="column column1 columnFirst listItemFirst">
      <div class="columnItems" style="padding: 0 6px 0 0">
        <div class="columnItem columnItem1 columnItemFirst listItemFirst columnItemLast listItemLast columnItemimage">
          <!--  CONTENT ELEMENT, uid:49/image [begin] -->
          <div id="c49" class="csc-default">
            <!--  Image block: [begin] -->
            <div class="csc-textpic csc-textpic-center csc-textpic-above">
              <div class="csc-textpic-imagewrap csc-textpic-single-image" style="width:420px;">
                <img src="uploads/pics/placeholder-image-medium_01.png" width="420" height="132" border="0" alt="">
              </div>
            </div>
            <div class="csc-textpic-clear">
              <!-- -->
            </div><!--  Image block: [end] -->
          </div><!--  CONTENT ELEMENT, uid:49/image [end] -->
        </div>
      </div>
    </div>
    <div style="width: 49.9%;" class="column column2 columnLast listItemLast">
      <div class="columnItems" style="padding: 0 0 0 6px">
        <div class="columnItem columnItem1 columnItemFirst listItemFirst columnItemLast listItemLast columnItemtext">
          <!--  CONTENT ELEMENT, uid:50/text [begin] -->
          <div id="c50" class="csc-default">
            <!--  Text: [begin] -->
            <p class="bodytext">
              Lorem ipsum dolor sit amet lorem ipsum dolor sit. At vero eos et accusam et justo duo dolores et ea rebum. Stet clita kasd gubergren, takimata sanctus est. Lorem ipsum dolor sit amet lorem ipsum dolor sit. At vero eos et accusam et justo duo dolores et ea rebum.<br>
            </p><!--  Text: [end] -->
          </div><!--  CONTENT ELEMENT, uid:50/text [end] -->
        </div>
      </div>
    </div>
  </div>
</div><!--  CONTENT ELEMENT, uid:48/multicolumn [end] -->
<!--  CONTENT ELEMENT, uid:51/multicolumn [begin] -->
<div id="c51" class="csc-default">
  <div class="multicolumnContainer multicolumnLayout1 clearfix" style="width: 100%;">
    <div style="width: 49.9%;" class="column column1 columnFirst listItemFirst">
      <div class="columnItems" style="padding: 0 6px 0 0">
        <div class="columnItem columnItem1 columnItemFirst listItemFirst columnItemLast listItemLast columnItemtext">
          <!--  CONTENT ELEMENT, uid:52/text [begin] -->
          <div id="c52" class="csc-default">
            <!--  Text: [begin] -->
            <p class="bodytext">
              Lorem ipsum dolor sit amet lorem ipsum dolor sit. At vero eos et accusam et justo duo dolores et ea rebum. Stet clita kasd gubergren, takimata sanctus est. Lorem ipsum dolor sit amet lorem ipsum dolor sit. At vero eos et accusam et justo duo dolores et ea rebum.<br>
            </p><!--  Text: [end] -->
          </div><!--  CONTENT ELEMENT, uid:52/text [end] -->
        </div>
      </div>
    </div>
    <div style="width: 49.9%;" class="column column2 columnLast listItemLast">
      <div class="columnItems" style="padding: 0 0 0 6px">
        <div class="columnItem columnItem1 columnItemFirst listItemFirst columnItemLast listItemLast columnItemimage">
          <!--  CONTENT ELEMENT, uid:53/image [begin] -->
          <div id="c53" class="csc-default">
            <!--  Image block: [begin] -->
            <div class="csc-textpic csc-textpic-center csc-textpic-above">
              <div class="csc-textpic-imagewrap csc-textpic-single-image" style="width:420px;">
                <img src="uploads/pics/placeholder-image-medium_02.png" width="420" height="132" border="0" alt="">
              </div>
            </div>
            <div class="csc-textpic-clear">
              <!-- -->
            </div><!--  Image block: [end] -->
          </div><!--  CONTENT ELEMENT, uid:53/image [end] -->
        </div>
      </div>
    </div>
  </div>
</div><!--  CONTENT ELEMENT, uid:51/multicolumn [end] -->
