<tab>
  <div class="clearfix">
    <img src="uploads/pics/protonet-teaser-img_01.png" class="leftimg" />
    <img src="uploads/pics/protonet-buy_01.png" width="118" height="44" class="rightimg" />
    <h2>Headline</h2>
    <p>asdf asdf At vero eos et accusam et justo duo dolores et ea rebum. Stet  clita kasd gubergren, takimata sanctus est Lorem ipsum dolor sit amet lorem ipsum dolor sit.</p>
  </div>

  <div style="width: 50%; float: left;">
    <div style="padding: 0 6px 0 0">
      <h2>Headline</h2>
      <p>At vero eos et accusam et justo duo dolores et ea rebum. Stet clita kasd gubergren, takimata sanctus est Lorem ipsum dolor sit amet lorem ipsum  dolor sit. At vero eos et accusam et justo duo dolores et ea rebum. Stet clita kasd gubergren, takimata sanctus est Lorem ipsum dolor sit amet lorem ipsum dolor sit. At vero eos et accusam et justo duo dolores et ea rebum. Stet clita kasd gubergren, takimata sanctus est Lorem ipsum dolor sit amet lorem ipsum dolor sit. At vero eos et accusam et justo duo dolores et ea rebum. Stet clita kasd gubergren, takimata sanctus est Lorem ipsum dolor sit amet lorem ipsum dolor sit. At vero eos et accusam et justo duo dolores et ea rebum. Stet clita kasd gubergren, takimata sanctus est Lorem ipsum dolor sit amet lorem ipsum dolor sit. At vero eos et accusam et justo duo dolores et ea rebum. Stet clita kasd gubergren, takimata sanctus est Lorem ipsum dolor sit amet lorem ipsum dolor sit.</p>
    </div>
  </div>
  <div style="width: 50%; float: right;">
    <div style="padding: 0 0 0 6px">
      <h2>Headline</h2>
      <p>At vero eos et accusam et justo duo dolores et ea rebum. Stet clita kasd  gubergren, takimata sanctus est Lorem ipsum dolor sit amet lorem ipsum  dolor sit.</p>
    </div>
  </div>
</tab>

