<div class="clearfix">
  <img src="uploads/pics/placeholder-image-medium_01.png" class="leftimg">
  <h2>Summary</h2>
  <p>With protonet you have your files and communication logged and locked! Protonet is the cloud solution you have full control over. Protonet combines the advantages of a hosted cloud and a network attached storage without the downsides to them.</p>
</div>

<div class="clearfix">
  <img src="uploads/pics/placeholder-image-medium_02.png" class="rightimg">
  <p>You do not have to worry about where your documents are and who might scan it for what use whatsoever. Your data is saved on your node next to you and you decide who is allowed to access them. Users must not be in the local area network or are not forced to use complicated, sometimes even expensive virtual private network to work within the cloud. Everything can be accessed and done via browser.</p>
</div>

