<h1>Meet the dudes</h1>
<div class="tx-ttaddress-pi1 people clearfix" id="team-cards" style="height: 360px;">
  <div class="panel">
    <img src="uploads/pics/dude_1.jpg" width="167" height="167" alt="Ali Jelveh" title="Ali Jelveh" />
    <h2>Ali Jelveh</h2>
    <h3>Geschäftsführer</h3>
    <p>Lorem ipsum dolor sit amet lorem ipsum dolor sit. At vero eos et accusam et justo duo dolores et ea rebum. Stet clita kasd gubergren, takimata sanctus est.</p>
  </div>

  <div class="panel">
    <img src="uploads/pics/dude_2.jpg" width="167" height="167" alt="Christopher Blum" title="Christopher Blum" />
    <h2>Christopher Blum</h2>
    <h3>Geschäftsführer</h3>
    <p>Lorem ipsum dolor sit amet lorem ipsum dolor sit. At vero eos et accusam et justo duo dolores et ea rebum. Stet clita kasd gubergren, takimata sanctus est.</p>
  </div>

  <div class="panel">
    <img src="uploads/pics/dude_5_01.jpg" width="167" height="167" alt="David Burkhard" title="David Burkhard" />
    <h2>David Burkhard</h2>
    <p style="margin-top: 10px;">Lorem ipsum dolor sit amet lorem ipsum dolor sit. At vero eos et accusam et justo duo dolores et ea rebum. Stet clita kasd gubergren, takimata sanctus est.</p>
    <div class="adr"></div>
  </div>

  <div class="panel">
    <img src="uploads/pics/dude_4_01.jpg" width="167" height="167" alt="Dennis Blöte" title="Dennis Blöte" />
    <h2>Dennis Blöte</h2>
    <p style="margin-top: 10px;">Lorem ipsum dolor sit amet lorem ipsum dolor sit. At vero eos et accusam et justo duo dolores et ea rebum. Stet clita kasd gubergren, takimata sanctus est.</p>
    <div class="adr"></div>
  </div>

  <div class="panel">
    <img src="uploads/pics/dude_5.jpg" width="167" height="167" alt="Johannes von Bargen" title="Johannes von Bargen" />
    <h2>Johannes von Bargen</h2>
    <p style="margin-top: 10px;">Lorem ipsum dolor sit amet lorem ipsum dolor sit. At vero eos et accusam et justo duo dolores et ea rebum. Stet clita kasd gubergren, takimata sanctus est.</p>
    <div class="adr"></div>
  </div>

  <div class="panel">
    <img src="uploads/pics/dude_4_02.jpg" width="167" height="167" alt="Martin Hügli" title="Martin Hügli" />
    <h2>Martin Hügli</h2>
    <p style="margin-top: 10px;">Lorem ipsum dolor sit amet lorem ipsum dolor sit. At vero eos et accusam et justo duo dolores et ea rebum. Stet clita kasd gubergren, takimata sanctus est.</p>
    <div class="adr"></div>
  </div>

  <div class="panel">
    <img src="uploads/pics/dude_5_02.jpg" width="167" height="167" alt="Reza Jelveh" title="Reza Jelveh" />
    <h2>Reza Jelveh</h2>
    <p style="margin-top: 10px;">Lorem ipsum dolor sit amet lorem ipsum dolor sit. At vero eos et accusam et justo duo dolores et ea rebum. Stet clita kasd gubergren, takimata sanctus est. </p>
    <div class="adr"></div>
  </div>

  <div class="cb"></div>
</div>


<div class="clearfix">
  <h1>And that's our office</h1>
  <img src="uploads/pics/office_02.jpg" width="448" height="200" alt="" class="leftimg" />
  <p>Lorem ipsum dolor sit amet lorem ipsum dolor sit. At vero eos et accusam  et justo duo dolores et ea rebum. Stet clita kasd gubergren, takimata  sanctus est. Lorem ipsum dolor sit amet lorem ipsum dolor sit. At vero  eos et accusam et justo duo dolores et ea rebum.<br />Stet clita kasd  gubergren, takimata sanctus est.Lorem ipsum dolor sit amet lorem ipsum  dolor sit. At vero eos et accusam et justo duo dolores et.</p>
</div>


<div class="tx-ttaddress-pi1 people clearfix" id="helpcards">
  <h1>We had a lot of help</h1>
  
  <div>
    <img src="uploads/pics/dude_2_02.jpg" width="167" height="167" alt="Maria Musterfrau" title="Maria Musterfrau" />
    <h2>Maria  Musterfrau</h2>
    <p>cvbcxvbcvb cxvb cvbfgb fg bfgbdfgbfdgb</p>
  </div>

  <div>
    <img src="uploads/pics/dude_4.jpg" width="167" height="167" alt="Max Mustermann" title="Max Mustermann" />
    <h2>Max  Mustermann</h2>
    <p>Blabla</p>
  </div>

  <div>
    <img src="uploads/pics/dude_2_01.jpg" width="167" height="167" alt="Michael Mustermann" title="Michael Mustermann" />
    <h2>Michael  Mustermann</h2>
    <p>Lorem ipsum dolor sit amet lorem ipsum dolor sit. At vero eos et accusam et justo duo rebum.</p>
  </div>

  <div>
    <img src="uploads/pics/dude_2_03.jpg" width="167" height="167" border="0" alt="Michael Mustermann" title="Michael Mustermann" />
    <h2>Michael  Mustermann</h2>
    <p>Lorem ipsum dolor sit amet lorem ipsum dolor sit. At vero eos et accusam et justo duo rebum.</p>
  </div>

  <div>
    <img src="uploads/pics/dude_2_04.jpg" width="167" height="167" border="0" alt="Michael Mustermann" title="Michael Mustermann" />
    <h2>Michael  Mustermann</h2>
    <p>Lorem ipsum dolor sit amet lorem ipsum dolor sit. At vero eos et accusam et justo duo rebum.</p>
  </div>

  <div>
    <img src="uploads/pics/dude_2_05.jpg" width="167" height="167" border="0" alt="Michael Mustermann" title="Michael Mustermann" />
    <h2>Michael  Mustermann</h2>
    <p>Lorem ipsum dolor sit amet lorem ipsum dolor sit. At vero eos et accusam et justo duo rebum.</p>
  </div>

  <div>
    <img src="uploads/pics/dude_3.jpg" width="167" height="167" border="0" alt="Miriam Musterfrau" title="Miriam Musterfrau" />
    <h2>Miriam  Musterfrau</h2>
    <p>Lorem ipsum...</p>
  </div>
</div>


<div class="clearfix">
  <h1>A little history</h1>
  <img src="uploads/pics/history_01.png" width="345" height="110" alt="" class="rightimg" />
  <p>At vero eos et accusam et justo duo dolores et ea rebum. Stet clita kasd gubergren, takimata sanctus est Lorem ipsum dolor sit amet lorem ipsum dolor sit. At vero eos et accusam et justo duo dolores et ea rebum. Stet clita kasd gubergren, takimata sanctus est Lorem ipsum dolor sit amet lorem ipsum dolor sit. At vero eos et accusam et justo duo dolores et ea rebum. Stet clita kasd gubergren, takimata sanctus est Lorem ipsum dolor sit amet lorem ipsum dolor sit.</p>
</div>

