<%= render :partial => "shared/header" %>
        <!-- wrapper-content begin -->
        <div id="wrapper-content">
          
  <!--  CONTENT ELEMENT, uid:32/list [begin] -->
    <div id="c32" class="csc-frame csc-frame-rulerAfter"><h1>Meet the dudes</h1>
    <!--  Plugin inserted: [begin] -->
      


  <!--

    BEGIN: Content of extension "tt_address", plugin "tx_ttaddress_pi1"

  -->
  <div class="tx-ttaddress-pi1">
    
<div class="vcard panel">
  <img src="uploads/pics/dude_1.jpg" width="167" height="167" border="0" alt="Ali Jelveh" title="Ali Jelveh" />
  <!-- ###SUBPART_URL### begin -->
  <h2>Ali  Jelveh
    <span>Geschäftsführer</span>
  </h2>
  <p style="margin-top: 10px;">Lorem ipsum dolor sit amet lorem ipsum dolor sit. At vero eos et accusam et justo duo dolores et ea rebum. Stet clita kasd gubergren, takimata sanctus est. </p>
  <!-- ###SUBPART_URL### end -->
  
  
  <!-- ###SUBPART_ADR### begin -->
  <div class="adr">
    
       
  </div>
  <!-- ###SUBPART_ADR### end -->
  
</div>



<div class="vcard panel">
  <img src="uploads/pics/dude_2.jpg" width="167" height="167" border="0" alt="Christopher Blum" title="Christopher Blum" />
  <!-- ###SUBPART_URL### begin -->
  <h2>Christopher  Blum
    <span>Geschäftsführer</span>
  </h2>
  <p style="margin-top: 10px;">Lorem ipsum dolor sit amet lorem ipsum dolor sit. At vero eos et accusam et justo duo dolores et ea rebum. Stet clita kasd gubergren, takimata sanctus est. </p>
  <!-- ###SUBPART_URL### end -->
  
  
  <!-- ###SUBPART_ADR### begin -->
  <div class="adr">
    
       
  </div>
  <!-- ###SUBPART_ADR### end -->
  
</div>



<div class="vcard panel">
  <img src="uploads/pics/dude_5_01.jpg" width="167" height="167" border="0" alt="David Burkhard" title="David Burkhard" />
  <!-- ###SUBPART_URL### begin -->
  <h2>David  Burkhard
    <span></span>
  </h2>
  <p style="margin-top: 10px;">Lorem ipsum dolor sit amet lorem ipsum dolor sit. At vero eos et accusam et justo duo dolores et ea rebum. Stet clita kasd gubergren, takimata sanctus est. </p>
  <!-- ###SUBPART_URL### end -->
  
  
  <!-- ###SUBPART_ADR### begin -->
  <div class="adr">
    
       
  </div>
  <!-- ###SUBPART_ADR### end -->
  
</div>



<div class="vcard panel">
  <img src="uploads/pics/dude_4_01.jpg" width="167" height="167" border="0" alt="Dennis Blöte" title="Dennis Blöte" />
  <!-- ###SUBPART_URL### begin -->
  <h2>Dennis  Blöte
    <span></span>
  </h2>
  <p style="margin-top: 10px;">Lorem ipsum dolor sit amet lorem ipsum dolor sit. At vero eos et accusam et justo duo dolores et ea rebum. Stet clita kasd gubergren, takimata sanctus est. </p>
  <!-- ###SUBPART_URL### end -->
  
  
  <!-- ###SUBPART_ADR### begin -->
  <div class="adr">
    
       
  </div>
  <!-- ###SUBPART_ADR### end -->
  
</div>



<div class="vcard panel">
  <img src="uploads/pics/dude_5.jpg" width="167" height="167" border="0" alt="Johannes von Bargen" title="Johannes von Bargen" />
  <!-- ###SUBPART_URL### begin -->
  <h2>Johannes  von Bargen
    <span></span>
  </h2>
  <p style="margin-top: 10px;">Lorem ipsum dolor sit amet lorem ipsum dolor sit. At vero eos et accusam et justo duo dolores et ea rebum. Stet clita kasd gubergren, takimata sanctus est. </p>
  <!-- ###SUBPART_URL### end -->
  
  
  <!-- ###SUBPART_ADR### begin -->
  <div class="adr">
    
       
  </div>
  <!-- ###SUBPART_ADR### end -->
  
</div>



<div class="vcard panel">
  <img src="uploads/pics/dude_4_02.jpg" width="167" height="167" border="0" alt="Martin Hügli" title="Martin Hügli" />
  <!-- ###SUBPART_URL### begin -->
  <h2>Martin  Hügli
    <span></span>
  </h2>
  <p style="margin-top: 10px;">Lorem ipsum dolor sit amet lorem ipsum dolor sit. At vero eos et accusam et justo duo dolores et ea rebum. Stet clita kasd gubergren, takimata sanctus est. </p>
  <!-- ###SUBPART_URL### end -->
  
  
  <!-- ###SUBPART_ADR### begin -->
  <div class="adr">
    
       
  </div>
  <!-- ###SUBPART_ADR### end -->
  
</div>



<div class="vcard panel">
  <img src="uploads/pics/dude_5_02.jpg" width="167" height="167" border="0" alt="Reza Jelveh" title="Reza Jelveh" />
  <!-- ###SUBPART_URL### begin -->
  <h2>Reza  Jelveh
    <span></span>
  </h2>
  <p style="margin-top: 10px;">Lorem ipsum dolor sit amet lorem ipsum dolor sit. At vero eos et accusam et justo duo dolores et ea rebum. Stet clita kasd gubergren, takimata sanctus est. </p>
  <!-- ###SUBPART_URL### end -->
  
  
  <!-- ###SUBPART_ADR### begin -->
  <div class="adr">
    
       
  </div>
  <!-- ###SUBPART_ADR### end -->
  
</div>


<div class="cb"></div>
  </div>
  
  <!-- END: Content of extension "tt_address", plugin "tx_ttaddress_pi1" -->

  
    <!--  Plugin inserted: [end] -->
      </div>
  <!--  CONTENT ELEMENT, uid:32/list [end] -->
    
  <!--  CONTENT ELEMENT, uid:65/textpic [begin] -->
    <div id="c65" class="csc-default"><h1>And that's our office</h1>
    <!--  Image block: [begin] -->
      <div class="csc-textpic csc-textpic-intext-left">
        <div class="csc-textpic-imagewrap" style="width:470px;">
          <div class="csc-textpic-imagerow" style="width:470px;">
            <ul>
              <li class="csc-textpic-image csc-textpic-firstcol csc-textpic-lastcol" style="width:448px;">
                <img src="uploads/pics/office_02.jpg" width="448" height="200" border="0" alt="" />
              </li>
            </ul>
          </div>
          <div class="csc-textpic-imagerow csc-textpic-imagerow-last" style="width:470px; display:none;">
            <ul>
              <li class="csc-textpic-image csc-textpic-firstcol csc-textpic-lastcol" style="width:470px;">
                <img src="typo3temp/pics/6fa70020e0.png" width="470" height="210" border="0" alt="" />
              </li>
            </ul>
          </div>
        </div>
      <div class="csc-textpic-text">
    <!--  Text: [begin] -->
      <p class="bodytext">Lorem ipsum dolor sit amet lorem ipsum dolor sit. At vero eos et accusam  et justo duo dolores et ea rebum. Stet clita kasd gubergren, takimata  sanctus est. Lorem ipsum dolor sit amet lorem ipsum dolor sit. At vero  eos et accusam et justo duo dolores et ea rebum.<br />Stet clita kasd  gubergren, takimata sanctus est.Lorem ipsum dolor sit amet lorem ipsum  dolor sit. At vero eos et accusam et justo duo dolores et.</p>
    <!--  Text: [end] -->
      </div></div><div class="csc-textpic-clear"><!-- --></div>
    <!--  Image block: [end] -->
      </div>
  <!--  CONTENT ELEMENT, uid:65/textpic [end] -->
    
  <!--  CONTENT ELEMENT, uid:34/list [begin] -->
    <div id="c34" class="csc-default"><h1>We had a lot of help</h1>
    <!--  Plugin inserted: [begin] -->
      


  <!--

    BEGIN: Content of extension "tt_address", plugin "tx_ttaddress_pi1"

  -->
  <div class="tx-ttaddress-pi1">
    
<div class="vcard_small">
  <img src="uploads/pics/dude_2_02.jpg" width="167" height="167" border="0" alt="Maria Musterfrau" title="Maria Musterfrau" />
  <!-- ###SUBPART_URL### begin -->
  <h2><span class="fn">Maria  Musterfrau</span></h2>
  <p>cvbcxvbcvb cxvb cvbfgb fg bfgbdfgbfdgb</p>
  <!-- ###SUBPART_URL### end -->
</div>



<div class="vcard_small">
  <img src="uploads/pics/dude_4.jpg" width="167" height="167" border="0" alt="Max Mustermann" title="Max Mustermann" />
  <!-- ###SUBPART_URL### begin -->
  <h2><span class="fn">Max  Mustermann</span></h2>
  <p>Blabla</p>
  <!-- ###SUBPART_URL### end -->
</div>



<div class="vcard_small">
  <img src="uploads/pics/dude_2_01.jpg" width="167" height="167" border="0" alt="Michael Mustermann" title="Michael Mustermann" />
  <!-- ###SUBPART_URL### begin -->
  <h2><span class="fn">Michael  Mustermann</span></h2>
  <p>Lorem ipsum dolor sit amet lorem ipsum dolor sit. At vero eos et accusam et justo duo rebum.</p>
  <!-- ###SUBPART_URL### end -->
</div>



<div class="vcard_small">
  <img src="uploads/pics/dude_2_03.jpg" width="167" height="167" border="0" alt="Michael Mustermann" title="Michael Mustermann" />
  <!-- ###SUBPART_URL### begin -->
  <h2><span class="fn">Michael  Mustermann</span></h2>
  <p>Lorem ipsum dolor sit amet lorem ipsum dolor sit. At vero eos et accusam et justo duo rebum.</p>
  <!-- ###SUBPART_URL### end -->
</div>



<div class="vcard_small">
  <img src="uploads/pics/dude_2_04.jpg" width="167" height="167" border="0" alt="Michael Mustermann" title="Michael Mustermann" />
  <!-- ###SUBPART_URL### begin -->
  <h2><span class="fn">Michael  Mustermann</span></h2>
  <p>Lorem ipsum dolor sit amet lorem ipsum dolor sit. At vero eos et accusam et justo duo rebum.</p>
  <!-- ###SUBPART_URL### end -->
</div>



<div class="vcard_small">
  <img src="uploads/pics/dude_2_05.jpg" width="167" height="167" border="0" alt="Michael Mustermann" title="Michael Mustermann" />
  <!-- ###SUBPART_URL### begin -->
  <h2><span class="fn">Michael  Mustermann</span></h2>
  <p>Lorem ipsum dolor sit amet lorem ipsum dolor sit. At vero eos et accusam et justo duo rebum.</p>
  <!-- ###SUBPART_URL### end -->
</div>



<div class="vcard_small">
  <img src="uploads/pics/dude_3.jpg" width="167" height="167" border="0" alt="Miriam Musterfrau" title="Miriam Musterfrau" />
  <!-- ###SUBPART_URL### begin -->
  <h2><span class="fn">Miriam  Musterfrau</span></h2>
  <p>Lorem ipsum...</p>
  <!-- ###SUBPART_URL### end -->
</div>


<div class="cb"></div>
  </div>
  
  <!-- END: Content of extension "tt_address", plugin "tx_ttaddress_pi1" -->

  
    <!--  Plugin inserted: [end] -->
      </div>
  <!--  CONTENT ELEMENT, uid:34/list [end] -->
    
  <!--  CONTENT ELEMENT, uid:36/multicolumn [begin] -->
    <div id="c36" class="csc-default"><h1>A little history</h1><div class="multicolumnContainer multicolumnLayout1 clearfix" style="width: 100%;">          <div style="width: 49.9%; " class="column column1 columnFirst listItemFirst ">                  <div class="columnItems" style="padding: 0 6px 0 0">
          <div class="columnItem columnItem1 columnItemFirst listItemFirst columnItemLast listItemLast columnItemtext">
  <!--  CONTENT ELEMENT, uid:37/text [begin] -->
    <div id="c37" class="csc-default">
    <!--  Text: [begin] -->
      <p class="bodytext">At vero eos et accusam et justo duo dolores et ea rebum. Stet clita kasd  gubergren, takimata sanctus est Lorem ipsum dolor sit amet lorem ipsum  dolor sit. At vero eos et accusam et justo duo dolores et ea rebum. Stet  clita kasd  gubergren, takimata sanctus est Lorem ipsum dolor sit amet  lorem ipsum  dolor sit. At vero eos et accusam et justo duo dolores et  ea rebum. Stet clita kasd  gubergren, takimata sanctus est Lorem ipsum  dolor sit amet lorem ipsum  dolor sit. </p>
    <!--  Text: [end] -->
      </div>
  <!--  CONTENT ELEMENT, uid:37/text [end] -->
    </div>
        </div>        </div><div style="width: 49.9%; " class="column column2  columnLast listItemLast">                  <div class="columnItems" style="padding: 0 0 0 6px">
          <div class="columnItem columnItem1 columnItemFirst listItemFirst columnItemLast listItemLast columnItemimage">
  <!--  CONTENT ELEMENT, uid:38/image [begin] -->
    <div id="c38" class="csc-default">
    <!--  Image block: [begin] -->
      <div class="csc-textpic csc-textpic-center csc-textpic-above"><div class="csc-textpic-imagewrap csc-textpic-single-image" style="width:345px;"><img src="uploads/pics/history_01.png" width="345" height="110" border="0" alt="" /></div></div><div class="csc-textpic-clear"><!-- --></div>
    <!--  Image block: [end] -->
      </div>
  <!--  CONTENT ELEMENT, uid:38/image [end] -->
    </div>
        </div>        </div>        </div></div>
  <!--  CONTENT ELEMENT, uid:36/multicolumn [end] -->
            
        </div>
        <!-- wrapper-content end -->
<%= render :partial => "shared/footer" %>