/**
 * default settings
 *
 */
 
/******************* BASIC ***********************/
/************************************************/

html {
}

body {
	background-image: url(/assets/bg-body.png);
	background-repeat: repeat;
	font: normal .75em/135% Verdana, Arial, sans-serif;
	color: #808080;
}

body.body-content #wrapper-content {
	padding: 0px 40px 20px 40px;
	width: 900px;
}

@font-face {
font-family: ptn_font;
src: url('/assets/ulc_font.ttf'); /*TODO*/
font-style: normal;
font-weight: normal;
}

/******************* TEXT ************************/
/************************************************/

p {
	line-height: 1.5em;
	margin: 0 0 1em 0;
}

b, strong {
	font-weight: bold;
}

em, i, blockquote {
	font-style: italic;
}


/******************* HEADLINES *******************/
/************************************************/


/* Headline: General */
/********************/

h1, h2, h3, h4, h5, h6 {
	font-size: 1.84em;
	line-height: 1em;
}

h1 {
	height: 50px;
	margin-top: .3em;
	margin-bottom: .3em;
	font-family: ptn_font, Arial, sans-serif;
	font-size: 46px;
	color: #444;
}

h2 {
	font-size: 1.5em;
	color: #3b383a;
}

h2 span {
	display: block;
	font-size: .68em;
}

.gfx {
	background-position: 0 0;
	background-repeat: no-repeat;
	text-indent: -999em;
	overflow: hidden;
	display: block;
}


/******************* LINKS ***********************/
/************************************************/
  
a,
a:visited	{
	color: #808080;
	text-decoration: none;
}

a:focus {
	/* outline: 1px solid #00b2c5; */
}

a:hover {
	text-decoration: underline;
}

.arrow {
	background-image: url(/assets/bg-arrow.png);
	background-repeat: no-repeat;
	padding: 0 0 0 12px;
	background-position: 0 3px;
}


/******************* LISTS ***********************/
/************************************************/

/* List: General */
/****************/

ul, ol {
	margin: 0 0 1em 1em;
}

ul li {
	list-style-type: disc;
}

li {
	margin: 0 0 0 .9em;
	line-height: 1.6em; 
	padding: 0 0 0 .8em;
}

ol li {
	list-style-type: decimal;
}

ul li ul {
	margin-bottom: 0px;
}


/******************* FORM ************************/
/************************************************/

input,
textarea {
	border: 1px solid #a5a5a5;
}

legend {
	margin: 0 0 1em 0;
	font-weight: bold;
}

/******************* LINES ***********************/
/************************************************/

hr {
	display: none;
}



/******************* CONTENT *********************/
/************************************************/


/******************* MISC ************************/
/************************************************/

/* Misc: debug */
/**************/

.debug {
	border: 1px solid red;
}

.debug2 {
	background-color: blue;
}


/* Misc: float */
/**************/

.fl {
	float: left;
}

.fr {
	float: right;
}

.cb1 {
	clear: both;
}

.cb {
	clear: both;
	height: .1px;
	font-size: 0;
	line-height: 0;
}

.ytteg {
	visibility: hidden;
}
