/**
 * content elements
 *
 */

#header, #content, #footer {
  width: 940px;
  padding: 0 20px 20px 20px;
  position: relative;
  z-index: 99;
  background-color: #fff;
}

#header {
  padding: 0 20px;
  height: 138px;
  background: url(/assets/bg-wrapper-header.png) 0 0 repeat-x;
}

#footer {
  border-top: 1px solid #bfbfbf;
  padding-top: 20px;
}
#footer p {
  font-size: .92em;
  margin: 0;
}


/******************* BASIC ***********************/
/************************************************/

#wrapper-shadow {
  width: 1038px;
  margin: 0 auto;
  background: url(/assets/bg-wrapper-shadow.png) 0 bottom no-repeat;
}

#wrapper-shadow-top {
  background: url(/assets/bg-wrapper-shadow-top.png) 0 0 no-repeat;
  width: 980px;
  padding: 0 29px;
}

h1.gfx {
  margin-top: 40px;
}

/******************* HEADER **********************/
/************************************************/

#logo {
  position: absolute;
  left: -29px;
  top: 10px;
  width: 258px;
  height: 128px;
}

/******************* TEASER**********************/
/************************************************/

#wrapper-protonet-teaser
{
  margin: 0 0 0 0;
  padding: 0 40px 0 40px;
  height: 414px;
  background: #ffffff bottom url(/assets/protonet-teaser-box.png) no-repeat;
}

#wrapper-protonet-teaser-content
{
  margin: 0 0 0 0;
  padding: 35px 0 35px 0;
}

#wrapper-protonet-teaser-content-top
{
  background: left bottom repeat-x url(/assets/trenner.png);
  padding-bottom: 10px;
  margin-bottom: 25px;
}

#wrapper-protonet-teaser-content-top div
{
  float: left;
  height: 190px;
}

#wrapper-protonet-teaser-content-img
{
  padding: 0 60px;
}

#wrapper-protonet-teaser-content-text
{
  width: 335px;
  padding: 0 40px;
}

#wrapper-protonet-teaser-content-button
{
  float: right;
  width: 120px;
  padding: 0 20px 0 0;
}

#wrapper-protonet-teaser-content-button img
{
  margin-top: 100px;
}

#wrapper-start-teaser .csc-default
{
  float: left;
  clear: none;
}

/******************* SUBMENU **********************/
/************************************************/

#wrapper-protonet-submenu
{
  height: 41px;
  width: 100%;
  margin: 0 0 0 0;
  padding: 0 0 0 0;
}

#wrapper-protonet-submenu ul
{
  margin: 0 0 0 0;
}

#wrapper-protonet-submenu ul li
{
  text-align: center;
  list-style-type: none;
  margin: 0 0 0 0;
  padding: 0 0 0 0;
  width: 20%;
  height: 48px;
  float: left;
  font-size: 1.6em;
}

#wrapper-protonet-submenu .submenu-first
{
  background: url(/assets/submenu-first.png) no-repeat;
}

#wrapper-protonet-submenu .submenu-item
{
  background: url(/assets/submenu-middle.png) repeat-x;
}

#wrapper-protonet-submenu .submenu-last
{
  background: url(/assets/submenu-last.png) no-repeat;
}

#wrapper-protonet-submenu ul li a
{
  vertical-align: middle;
  color: white;
}

#wrapper-protonet-submenu ul li:hover,
#wrapper-protonet-submenu .submenu-active
{
  background-position: 0 -48px;
}

#wrapper-protonet-submenu ul li a:hover
{
  text-decoration: none;
}


/******************* CONTENT **********************/
/************************************************/
.protonet-content-img-full-width {
  margin: 0 0 0 0;
  padding: 0 0 0 0;
  width: 100%;
}

.protonet-content-2cols  p{
  margin: 0 20px 0 0;
}

.protonet-content-2cols-main {
  margin: 0 20px 0 0;
  width: 440px;
  float: left;
}


/******************* TEASER **********************/
/************************************************/
#wrapper-protonet-teaser
{
    margin: 15px 0 30px 0;
}

#wrapper-protonet-teaser-content .protonet-content-2cols-main {
  width: 400px;
}

#wrapper-protonet-teaser-content .protonet-content-element-small {
  margin: 0 0 0 0;
}

#wrapper-protonet-teaser-content .protonet-content-2cols  p{
  margin: 0 0 0 0;
}


/******************* TEASER & CONTENT *****************/
/************************************************/
.protonet-content-2cols-last {
  margin: 0 0 0 0;
}

.protonet-content-element-small {
  margin: 0 20px 0 0;
}

.protonet-content-element-small img {
  float: left;
  margin: 0 20px 0 0 ;
}



/******************* CONTENT *********************/
/************************************************/

.dudes {
  margin: 0 0 2em 0;
}

.dudes-item {
  width: 167px;
  float: left;
  margin: 0 15px 0 0;
}

.dudes-item-last {
  margin: 0 0 0 0;
}

.dudes-item p {
  text-align: justify;
}

.dudes-item h2 {
  margin: 1em 0;
}


/******************* START ***********************/
/************************************************/

#wrapper-start-box {
  margin: 0 0 20px 0;  
}

/* start-teaser */

.start-teaser {
  width: 260px;
  height: 133px;
  margin: 0 20px 0 0;
  padding: 20px;
  background: url(/assets/bg-start-teaser.png) 0 0 no-repeat;
  float: left;
  font-size: .95em;
}

.start-teaser h2 {
  margin: 0 0 20px 0;
}

.start-teaser h2 a {
  display: block;
  height: 20px;
}

.start-teaser .news-latest-item {
  border-bottom: 1px solid #b9b6b9;
  padding: 0 0 13px 0;
  margin: 0 0 13px 0;
}

.start-teaser .news-latest-item-last {
  border-bottom: none;
  margin: 0 0 0 0;
  padding: 0 0 0 0;
}

.start-teaser .news-latest-item h3 a {
  font-size: .55em;
  padding: 0 0 0 12px;
  background: url(/assets/bg-arrow.png) 0 3px no-repeat;
}

.start-teaser .news-latest-item p {
  margin: 0 0 0 0;
  padding: 0 0 0 0;
  color: #487bff;
  line-height: 1em;
}

.start-teaser-last {
  margin-right: 0px !important;
}

.start-teaser h1 {
  margin: -5px 0 0 0;
  font-family: ptn_font, Arial, sans-serif;
  font-size: 20px;
}

/************ MULTI-COLUMN CONTAINER *************/
/************************************************/

.multicolumnContainer p {
  text-align: justify;
}

.multicolumnContainer.tricol .column {
  width: 30%;
}

.multicolumnContainer .column {
  margin-right: 25px;
}
.multicolumnContainer .column:last-child {
  margin-right: 0;
}

/******************* TT_ADRESS **********************/
/************************************************/

.leftimg {
  float: left;
  margin: 0 5% 5px 0;
}
.rightimg {
  float: right;
  margin: 0 0 5px 5%;
}

.people .panel {
  float: left;
  width: 168px;
  margin: 0 15px 0 0;
  min-height: 360px;
}
.people .panel img {
  margin-bottom: 20px;
}
.people .panel h3 {
  font-size: 1em;
}
.people .panel p {
  margin-top: 10px;
  text-align: justify;
}

#helpcards div {
  float: left;
  width: 256px;
  margin: 0 30px 10px 0;
}
#helpcards img {
  width: 67px;
  height: 67px;
  float:left;
  margin-right: 12px;
}
#helpcards h2 {
  margin-bottom: 10px;
  font-size: 1em;
}
#helpcards p {
  text-align: justify;
}

.tx-ttaddress-pi1 {
  clear: both;
  width: 900px;
  overflow: hidden;
  min-height: 400px;
}

.coda-nav-left, .coda-nav-right {
  display: inline;
  float: left;
}

.coda-nav-right {
  float: right;
}

.coda-nav-left a, .coda-nav-right a {
  /* background: url('../images/_TEMP/protonet/protonet-buy.png') no-repeat; */
  color: #3B383A;
  font-size: 1.5em;
}

/******************* MAILFORM PLUS **************/
/************************************************/

.mailformplus_contactform input[type=text] {
  width: 320px;
  margin-bottom: 5px;
}

/******************* NEWS ***********************/
/************************************************/

.news-latest-container {
  padding: 0px;
  margin-top: -10px;
}

.news-latest-container h2 {
  display: none;
}

.news-latest-gotoarchive, .news-latest-category {
  display: none;
}

.news-latest-date {
  color: #487BFF;
}

.start-teaser .news-latest-item {
  margin: 0 0 10px 0;
  padding: 0 0 5px;
}

.start-teaser .news-latest-item p {
  color: #808080;
  padding-left: 1.2em;
  background: url(/assets/bg-arrow.png) 0 2px transparent no-repeat;
}

.news-single-rightbox {
  width: 200px;
}

.news-single-item h1 {
  height: 20px;
}

.news-single-item h2 {
  margin-bottom: 18px;
  font-size: 1em;
}


/***************** BOXES ********************/
/************************************************/
.boxes #wrapper-content #wrapper-main{
  width: 65%;
  float: left;
}

.boxes  #wrapper-content #wrapper-right {
  width: 30%;
  float: left;
}

.boxes  #wrapper-content #wrapper-right .start-teaser{
  margin: 20px 0 0 29px;
}


/***************** CLEARFIX ********************/
/**********************************************/

.cb {
  clear: both;
  height: 1px;
  overflow: hidden;
  width: 1px;
}


/**************** Product **********************/
/**********************************************/

.csc-bulletlist-2 {
  margin: 0 0 0 0;
  padding: 0 0 0 0;
}

.csc-bulletlist-2  li {
  width: 99px;
  height: 54px;
  float: left;
  margin: 0 2px 0 0;
  padding: 8px 8px 0 6px;
  vertical-align: middle;
  color: #404040;
  text-align: center;
  font-weight: bold;
  display: block;
  background: url(/assets/bg-bulletlist-2-li.png) 0 0 no-repeat;
}


/**************** Order ************************/
/**********************************************/

.order-top {
  background: url(/assets/bg-order-top.png) left bottom no-repeat;
  height: 268px;
}


#order-top-navi {
  margin: 0 0 0 0;
  padding: 0 0 0 0;
}

#order-top-navi li.order-top-navi-item {
  background: url(/assets/bg-order-top-navi.png) 0 0 no-repeat;
  width: 186px;
  height: 268px;
  margin: 0 0 0 0;
  padding: 0 20px 0 0;
  list-style-type: none;
  float: left;
  position: relative;
}

#order-top-navi li.order-top-navi-item:hover {
  background-position: -206px 0;
  cursor: pointer;
}

#order-top-navi li.order-top-navi-item-first {
  background-position: 0 -268px;
}

#order-top-navi li.order-top-navi-item-first:hover {
  background-position: -206px -268px;
}

#order-top-navi li.order-top-navi-item h2 {
  text-align: center;
  padding-top: 12px;
  text-transform: uppercase;
  color: #fff;
}

#order-top-navi li.order-top-navi-item ul {
  margin: 35px 0 0 0;
  padding: 0 0 0 30px;
}

#order-top-navi li.order-top-navi-item ul li {
  padding: 0 0 0 0;
  margin: 0 0 0 0;
}

#order-top-navi li.order-top-navi-item p {
  position: absolute;
  bottom: 12px;
  right: 35px;
  color: #404040;
  font-size: 1.5em;
}
