<?xml version="1.0" encoding="UTF-8"?><!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="de" lang="de">
  <head>
    <title>the world's first social router - protonet - it's yours</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <meta http-equiv="Content-Language" content="en" />
    <link href="/stylesheets/main.css" media="screen" rel="stylesheet" type="text/css" />
    <link href="/favicon.ico" rel="shortcut icon" type="image/x-icon" />
    <script src="/javascripts/jquery-1.4.3.min.js" type="text/javascript"></script>
    
  </head>
  <body>
    <div id="cloud-container"></div>
    <div id="page">
      <div id="page-top">
        <div id="logo">
          <h1>protonet - it's yours</h1>
        </div>
        <div id="slogan">
          <h2>The World's <span class="highlight">first</span> Social Router</h2>
        </div>
      </div>
      <div id="page-middle">
        <div class="clearer"></div>
        <div id="social-networks">
          <span>Tweet-Button</span>
          <span>f-Like-Buton</span>
        </div>
        <div id="abstract">
          <h2>What if</h2>
          <p>the next social revolution doesn't happen on the internet, but right in your office?</p>
        </div>
        <div id="content">
          <%= yield %>
        </div>
      </div>
      <div id="page-bottom">
        <p>Copyright 2010 / About / Sponsors / ... </p>
      </div>
    </div>
  </body>
  <-script src="/javascripts/clouds.js" type="text/javascript"></script>
  <script src="/javascripts/shop.js" type="text/javascript"></script>
</html>
